@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="aboutusheading">
    <div class="heading1">
        <h1>We Bring You <span>Safety Ratings </span>of Your Car</h1>
    </div>
</div>

<div class="ourmotivation">
    <div class="heading1">
        <h1>Our Motivation</h1>
        <div class="iconandtext">
            <div class="icon">
                <i class="fas fa-ambulance"></i>
            </div>
            <p>Nearly 1.25 million people die in road crashes each year, on average 3,287 deaths a day.</p>
        </div>

        <div class="iconandtext">
            <div class="icon">
                <i class="fas fa-bolt"></i>
            </div>
            <p>Road traffic crashes rank as the 9th leading cause of death and account for 2.2% of all deaths globally.</p>
        </div>

        <div class="iconandtext">
            <div class="icon">
                <i class="fas fa-credit-card"></i>
            </div>
            <p>Road crashes cost USD $518 billion globally, costing individual countries from 1-2% of their annual GDP.</p>
        </div>

        <div class="iconandtext">
            <div class="icon">
                <i class="fas fa-exclamation"></i>
            </div>
            <p>Unless action is taken, road traffic injuries are predicted to become the fifth leading cause of death by 2030.</p>
        </div>
    </div>
</div>

<!--using the same classes for mission statement-->
<div class="ourmotivation">
    <div class="heading1">
        <h1>Our Mission</h1>
        <div class="iconandtext">
            <div class="icon">
                <i class="fas fa-search"></i>
            </div>
            <p>Providing you with basic safety ratings for your car - help you decide better</p>
        </div>

        <div class="iconandtext">
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
            <p>User friendly website interface</p>
        </div>

        <div class="iconandtext">
            <div class="icon">
                <i class="fas fa-mobile"></i>
            </div>
            <p>Building an all gadgets friendly website</p>
        </div>

        <div class="iconandtext">
            <div class="icon">
                <i class="fas fa-lock"></i>
            </div>
            <p>Help you in keeping your family safe</p>
        </div>


    </div>
</div>

<div class="ourmotivation">
    <div class="heading1">
        <h1>DISCLAIMER</h1>
        <div class="iconandtext">
            <p>The data driving this website is directly taken from data.gov car safety ratings </p>
        </div>
    </div>
</div>

<div class="ourmotivation">
    <div class="heading1">
        <h1>DATA MODEL</h1>
        <div class="iconandtext">
            <img src="~/images/img/8.jpg" style="width:100%; height:auto">
        </div>
    </div>
</div>
