@{
    ViewBag.Title = "Contact Us";
        Layout = "~/Views/Shared/_Layout.cshtml";

}

<div>
    <section class="about-the-group">
        <div class="main">
            <div class="heading">
                <h1>Who We Are</h1>
                <p>We are Group 9 from the Distributed Information System Class - passionate students learning to integrate analytics and development through the program</p>
            </div>
            <!--Akash about me-->
            <div class="col-1">
                <img src="~/images/img/6.jpg">
                <h2>Adarsh Patel</h2>
                <p>This is Adarsh Patel. Studying in the Business Analytics & Information Systems graduate program at USF, DIS is part of core subjects of the program. As a professional I have vast experience in databases using which I assisted in designing the data model and making recommendations to improve it..</p>
                <p>
                    <a href="https://github.com/adarshp1395"><i class="fab fa-github" style="color:white"></i></a>
                    <a href="https://www.linkedin.com/in/adarshpatel95/"><i class="fab fa-linkedin-in" style="color:cornflowerblue"></i></a>
                    <a href="tel:+1-813-403-9947"><i class="fas fa-phone" style="color:limegreen"></i></a>
                </p>
            </div>

            <!--Amenas about me-->
            <div class="col-1">
                <img src="~/images/img/5.jpg">
                <h2>Amena Shahid</h2>
                <p>Hi, I am Amena Shahid. As a student of the DIS class in the BAIS grad program, I put my newly found web dev skills alongwith aesthetic sense in the designing and coding of the overall website. Coming from a business intelligence background I assisted with the data model structure for the website</p>
                <p>
                    <a href="https://github.com/amenaUSF"><i class="fab fa-github" style="color:white"></i></a>
                    <a href="https://www.linkedin.com/in/amena-shahid-24325411b/"><i class="fab fa-linkedin-in" style="color:cornflowerblue"></i></a>
                    <a href="tel:+1-352-745-4435"><i class="fas fa-phone" style="color:limegreen"></i></a>
                </p>
            </div>

            <!--priyanka about me-->
            <div class="col-1">
                <img src="~/images/img/7.jpg">
                <h2>Priyanka Thakur</h2>
                <p>This is Priyanka Thakur, pursuing Masters in Business Analytics and Information Systems with 4 years of experience as a SAP Basis Consultant.My contribution includes designing the data model for the database to store the data from data.gov</p>
                <p>
                    <a href="https://github.com/PriyankaThakur2"><i class="fab fa-github" style="color:white"></i></a>
                    <a href="https://www.linkedin.com/in/priythak/"><i class="fab fa-linkedin-in" style="color:cornflowerblue"></i></a>
                    <a href="tel:+1-813-403-9947"><i class="fas fa-phone" style="color:limegreen"></i></a>
                </p>
            </div>

        </div>
    </section>
</div>
