@{
    ViewBag.Title = "Home";
        Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="slider">
    <div class="img1title">
        <h1><span>You </span>Shouldn't Have To Be <span>Entirely Responsible </span>For Your Family's <span>Safety</span></h1>
    </div>
</div>

<!--setting up the second slider -->
<div class="slider2">
    <div class="img2title">
        <h1>Let Your<span> Car </span>Share <span>Your Burdens </span></h1>
    </div>
</div>

<!--setting up the third slider -->
<div class="slider3">
    <div class="img3title">
        <h1>Know Your Car's <span>Safety Ratings</span></h1>
        <h3>Make Informed Purchases</h3>
    </div>
</div>
